* {
    margin: 0px;
}
div:nth-child(1) {
    background-color: #F7F7F7;
    padding-top: 160px;
}
div img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
div:nth-child(1) input {
    height: 30px;
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    margin-top: 30px;
    padding: 6px;
}
div:nth-child(1) p {
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    color: #9B9B9B;
    margin-top: 60px;
}
div:nth-child(1) p a {
    text-decoration: none;
    color: #57A0D8;
}

div:nth-child(1) img:nth-child(1) {
    width: 230px;
    height: 200px;
}
.image2 {
    padding-top: 100px;
    padding-bottom: 40px;
    height: 70px;
}
.image3 {
    padding-top: 100px;
    width: 750px;
    height: 300px;
}
div:nth-child(2) {
    background-color: #58B792;
    text-align: center;
    color: #FFFFFF;
}
div:nth-child(2) p:nth-child(1){
    padding-top: 90px;
    font-size: 45px;
    font-weight: bold;
}
div:nth-child(2) p:nth-child(2) {
    font-size: 20px;
    padding-top: 30px;
}
